{% load static %}
<link href="{% static 'css/header.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/root.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/fontawesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/brands.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/solid.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/regular.min.css' %}" rel="stylesheet" type="text/css">