{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>404 🥲 | Poupy</title>
    <link rel="stylesheet" href="{% static 'css/root.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/404.css' %}" type="text/css">
</head>
<body>
<div class="container-404">
    <div class="logo-name">Poupy</div>
    <div class="context-404">
        <div CLASS="error-404">ERRO 404</div>
        <a href="https://developer.mozilla.org/pt-BR/docs/Web/HTTP/Status/404">O que isso significa?</a>
    </div>
</div>
</body>
</html>