{% extends 'base/app/base.html' %}
{% load static %}
{% block title %}
    App | Poupy
{% endblock %}
{% block extend_css %}
    <link rel="stylesheet" href="{% static 'css/app/main.css' %}" type="text/css"/>
{% endblock %}
{% block main %}
    <div class="horizontal-section primary-card overview-card">
        <div class="overview-info-container">
            <div class="overview-welcome">
                <h2>Olá, {{ request.user.first_name }}! 😊</h2>
                <button class="vision-button" type="submit"><i class="fa-regular fa-eye"></i></button>
            </div>
            <div class="overview-info">
                <div class="overview-info-card monthly-income">
                    <span class="overview-info-card-title">Rendas do mês</span>
                    <span class="value value-positive">R$ {{ monthly_incomes }}</span>
                </div>

                <div class="overview-info-card monthly-income">
                    <span class="overview-info-card-title">Despesas do mês</span>
                    <span class="value value-negative">R$ {{ monthly_expenses }}</span>
                </div>

                <!-- Saldo Total -->
                <div class="overview-info-card monthly-income">
                    <span class="overview-info-card-title">Saldo Total</span>
                    <span class="value value-general">R$ {{ total_balance }}</span>
                </div>
            </div>
        </div>
        <div class="overview-divider"></div>
        <div class="overview-actions-container">
            <a href="#">
                <div class="overview-actions-card">
                    <i class="actions-icon value-negative fa-solid fa-circle-minus"></i>
                    <span class="value-negative">Despesa</span>
                </div>
            </a>
            <a href="#">
                <div class="overview-actions-card">
                    <i class="actions-icon value-positive fa-solid fa-circle-plus"></i>
                    <span class="value-positive">Receita</span>
                </div>
            </a>
            <a href="#">
                <div class="overview-actions-card">
                    <i class="actions-icon value-general fa-solid fa-money-bill-transfer"></i>
                    <span class="value-general">Transferência</span>
                </div>
            </a>
        </div>
    </div>
    <div class="horizontal-section transaction-history-and-list-accounts">
        <div class="list-accounts primary-card">
            <div class="inner-margin">
                <div class="my-accounts-title">
                    <span>Minhas contas</span>
                    <i class="fa-solid fa-piggy-bank"></i>
                </div>
                <div class="card-account-container">
                    {% for account in accounts %}
                        <div class="card-account primary-card">
                            <div class="name-account">{{ account.name }}</div>
                            <div class="account-balance value-positive">R$ {{ account.balance }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="transaction-history primary-card">
            <div class="inner-margin">
                <div class="transaction-history-title">
                    <span>Maiores transações do mês</span>
                    <i class="fa-solid fa-cash-register"></i>
                </div>
                <div class="card-transaction-container">
                    {% for transaction in bigger_transactions_of_month %}
                        <div class="card-transaction primary-card">
                            <div class="info-transaction">
                                <div class="info-transaction-description">{{ transaction.description }}</div>
                                <div class="info-transaction-account">{{ transaction.account }}</div>
                            </div>
                            <div class="transaction-value">
                                {% if transaction.type == 'EXPENSE' %}
                                    <span style="color: #E74C3CFF">R$ {{ transaction.value }}</span>
                                {% elif transaction.type == 'INCOME' %}
                                    <span style="color: #67BE96FF">R$ {{ transaction.value }}</span>
                                {% else %}
                                    <span style="color: #D2D2D2FF">R$ {{ transaction.value }}</span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}