{% extends 'base/app/base.html' %}
{% load static %}
{% block extend_css %}
    <link rel="stylesheet" href="{% static 'css/app/base_edit.css' %}" type="text/css">
{% endblock %}
{% block title %}
	🔐️ New password | Poupy
{% endblock %}
{% block main %}
    <div class="horizontal-section primary-card account-edit-container">
        <form action="{% block tag_form %}{% endblock %}" method="post">
            {% csrf_token %}
            <div class="group-input-external">
                <div class="title">New password</div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="message {{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% for field in form %}
                    <div class="group-input">
                        <label class="title-input" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
            </div>
            <div>
                <button class="btn btn-save">Save</button>
            </div>
            {% block button_edit_password %}{% endblock %}
        </form>
        {% block delete_button %}{% endblock %}
    </div>
{% endblock %}