{% extends 'base/app/signup-and-login.html' %}
{% block title %}
    📝 Signup | Poupy
{% endblock %}
{% block action-title %}
    Register
{% endblock %}
{% block inputs %}
    <form action="{% url 'user_create' %}" method="post">
        {% csrf_token %}
        <div class="group-input-external">
            {% for field in form %}
                <div class="group-input">
                    <label class="title-input" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
        </div>
        <div class="call-action">Already have an account? <a href="{% url 'login' %}">Log in</a></div>
        <div>
            <button class="btn btn-signup">Register</button>
        </div>
    </form>
{% endblock %}