{% extends 'base/app/base_form.html' %}
{% block title %}
    📝 Edit transaction | Poupy
{% endblock %}
{% block action_title %}
    Edit transaction
{% endblock %}
{% block button_text %}
    Save
{% endblock %}
{% block delete_button %}
    {% if transfer != 'TRANSFER' %}
        <!-- If it is a transfer, do not display the delete the transaction button. -->
        <form class="form-btn-delete" action="{% url 'transaction_delete' transaction.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-delete">Delete transaction</button>
        </form>
    {% endif %}
{% endblock %}

