{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% include 'partials/head.html' %}
    <link rel="stylesheet" href="{% static 'css/app/signup_and_login.css' %}" type="text/css">
</head>
<body>
<div class="primary-card card-signup">
    <div class="inner-margin inner-card-signup">
        <div class="logo-name">Poupy</div>
        <div class="signup-title">{% block action-title %}{% endblock %}</div>
        <div class="signup-container-inputs">
            {% block inputs %}{% endblock %}
        </div>
    </div>
</body>
</html>