.menu-right {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .7rem;
}

.menu-right-icons {
    transition: color .2s ease-in-out;
}

.menu-right-icons:hover {
    color: var(--color-success-400);
}

.exit-button {
    margin-left: 1rem;
}

.exit-button button {
    background: none;
    font-size: 1rem;
}