main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaction-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}

.header {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transactions-master-title {
    font-weight: 700;
    font-size: 1.5rem;
}

.month-transactions {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.transaction-card {
    width: 85%;
}

.transaction-card-inner {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.icon-container i {
    font-size: 1.5rem;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description {
    font-size: 1.3rem;
    font-weight: 600;
}

.category {
    color: var(--color-surface-200);
}

.value-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.account {
    color: var(--color-surface-300);
}

.value {
    font-weight: 700;
}

.link-transaction {
    transition: transform .2s ease-in-out;
}

.link-transaction:hover {
    transform: scale(1.05);
}

.message-not-found {
    margin-top: 0;
}