<header>
    <div>
        <a class="logo-name" href="{% url 'app' %}">Poupy</a>
    </div>
    <div class="menu-center">
        <a class="menu-item" href="{% url 'app' %}">HOME</a>
        <a class="menu-item" href="{% url 'transactions' %}">REGISTROS</a>
        <a class="menu-item" href="#">RELATÓRIOS</a>
    </div>
    <div class="menu-right">
        <a href="#">
            <i class="menu-right-icons fa-solid fa-bell"></i>
        </a>
        <a href="#">
            <i class="menu-right-icons fa-solid fa-gear"></i>
        </a>
        <a href="#">
            <i class="menu-right-icons fa-solid fa-user"></i>
        </a>
        <form action="{% url 'logout' %}" method="post" class="exit-button">
            {% csrf_token %}
            <button type="submit">
                <i class="menu-right-icons fa-solid fa-arrow-right-from-bracket"></i>
            </button>
        </form>
    </div>
</header>